.shop {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
}

.menu {
  border: 1px solid #000000;
}

.content {
  border: 1px solid #000000;
  display: flex;
  flex: 1;
}

.footer {
  border: 1px solid #000000;
  display: flex;
  flex: 1;
}
